body{
	background-image:images/code-9.jpg;
}
div.bg{
	padding: 1px;
	background-image:url('images/code-9.jpg');
	background-size: 100% 100%;
	text-align: right;
	color:orange; 
}
div.icons{
	padding:10px; 
}
tr.languages{
	padding:10px;
	background-color:lightblue;
}
img.l{
	width:200px;
	height:200px;
	border-radius:50%;  
}
div.desktop{
	padding: 10px;
}
img.l:hover{
	transform:scale(1.1);
	opacity:0.8; 
	transition-delay:0.3s; 
	transition-duration:1.5s;  
}
img.profile{ 
	width:150px;
	height:150px;
	border-radius:50%;
	<!--padding-left:80%;--!> 
}
img.profile:hover{
	transform:scale(1.15);
	transition-delay:0.3s;
	transition-duration:1.5s;   
}