body{
    padding:0;
    margin:0;
}
.navbar{
    position:fixed;
    background: rgba(50,50,250,0.8);
    width:100%;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 2;
}
ul.nav{
    list-style-type: none;
}
a li{
    display: inline-block;
    background: #fff;
    padding:5px;
    margin-left:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
a li:hover{
    transform: translateY(-5px);
    background:whitesmoke;
    transition:0.5s;
}
a li.active{
    color:white;
    background: rgba(50,50,250,0.8);
}
div.loader{
    height:100%;
    width:100%;
    background-color: rgb(50,50,250);
    display:block;
}
.AnimContainer{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: none;
    border:none;
    position:fixed;
    height:80px;
    padding:5px;
    max-width: 50%;
    display: inline-flex;
}
.bar{
    display:inline-block;
    height:20px;
    width:10px;
    background: #fff;
    margin:10px;
    z-index:4;
}
.AnimContainer :nth-child(1){
    animation: 1.3s loader linear infinite;
    animation-delay: 0s;
}
.AnimContainer :nth-child(2){
    animation: 1.3s loader linear infinite;
    animation-delay: 0.1s;
}
.AnimContainer :nth-child(3){
    animation: 1.3s loader linear infinite;
    animation-delay: 0.2s;
}
.AnimContainer :nth-child(4){
    animation: 1.3s loader linear infinite;
    animation-delay: 0.3s;
}
.AnimContainer :nth-child(5){
    animation: 1.3s loader linear infinite;
    animation-delay: 0.4s;
}
.AnimContainer :nth-child(6){
    animation: 1.3s loader linear infinite;
    animation-delay: 0.5s;
}
@keyframes loader{
    0%{
        height:20px;
    }
    20%{
        height:30px;
    }
    50%{
        height:60px;
    }
    80%{
        height:30px;
    }
    100%{
        height: 20px;
    }
}
div.barner{
    position: relative;
    background-color:none;
    text-align: center;
    height:50px;
    width:60%;
    padding:5px;
    left:50%;
    transform: translateX(-50%);
    border-bottom:1px solid rgb(50,50,250);
    margin-bottom: 10px;
}
div.foundation{
    margin-top: 20px;
    margin-bottom: 20px;
    width:100%;
    padding:10px;
    position: relative;
    background:rgba(50,50,250,0.8);
    left:50%;
    transform:translateX(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.floor{
    position: relative;
    background:none;
    display: flex;
}
div.tile{
    margin-left: 10px;
    background:white;
    color:black;
    font-family: cursive;
    padding:10px;
    width:60%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
h3.title{
    color:#fff;
    font-family:'Franklin Gothic Medium';
}
div.profile{
  height:75%;
  width:100%;
  background-image: url('../Images/tech.jpg');
  background-size: cover;
  background-attachment: fixed;
}
div.gProfile{
  padding:10px;
  position: relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:40%;
  height:50vh;
  overflow-Y: scroll;
  background: rgba(50,50,150,0.8);
  color:white;
}
img.pImage{
  position: relative;
  left:50%;
  transform: translateX(-50%);
  height:100px;
  width:100px;
  border-radius: 50%;
}
@media only screen and (max-width:500px){
  div.tile{
    width:90%;
  }
}
div.contact{
  z-index: 2;
  position:fixed;
  right:0px;
  top:50%;
  transform: translateY(-50%);
  width:30px;
  background:none;
}
img.contact{
  padding:5px;
  border-radius:50%;
  height:20px;
  width:20px;
  margin-top:10px;
  margin-bottom:10px;
}
div.card{
  display: inline;
  overflow: hidden;
}
p.conInfo{
  position: absolute;
  display: inline-block;
  padding:10px;
  color:white;
  background: rgba(50,50,250,0.9);
  right:-200px;
  transition: 1s;
  z-index: -1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div.card:hover p.conInfo{
  cursor:pointer;
  right:30px;
}
