div.loginForm{
  width:40%;
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  background:rgba(50,50,150,0.4);
  padding:10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
input{
  width:60%;
  background: none;
  color:rgb(50,50,50);
  margin-top: 25px;
  margin-bottom: 20px;
  border:none;
  border-bottom: 1px solid rgba(50,50,250);
  padding:10px;
  display: inline;
}
input:hover {
  width:80%;
  transition: 1s;
  color:white;
}
input::placeholder{
  color:rgb(250,250,250);
}
input.btn{
  color:white;
  background: none;
  width:100%;
  border:1px solid rgb(50,50,250);
}
input.btn:hover{
  background: rgba(50,50,250,0.6);
}
img.formIcon{
  border-radius: 50%;
  display: inline;
}
div.field{
}
