.static1{
    position:absolute;
    top:0;
    background-attachment: fixed;
    background-position:center;
    background-size: contain;
    background: url("../Images/tech.jpg");
    height:50vh;
    width:100vw;
    text-align: center;
    padding:20px;
    position: absolute;
    align-content: center;
    align-items: center;
}
