{% load static %}
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" href={% static 'main.css' %}>
	</head>
	<body>
		<div class="navbar">
			<ul class="nav">
				<li class="icon"><img class="icon" src={% static 'Images/engine.jpg'%}></li>
				<li class="nav">Home</li>
				<li class="nav">Chat</li>
				<li class="nav">Django</li>
			</ul>
				<div class="nav-footer">Powered by django</div>
		</div>
		'Hello Friend ',that is kind of lame.<br/>
		You are nothing more than just a fictional character I created <br/>
		so as to not feel lonely :/
		<div class="item">
			
		</div>
	</body>
</html>