<!DOCTYPE html>
<html>
<head>
	<title>Antony Kaigi</title>
	<link rel="stylesheet" type="text/css" href="CSS/navbar.css">
</head>
<body>
	<div class="navbar" id="navbar">
		<ul class="navbar">
			<li class="navbar">Home</li>
			<li class="navbar">Projects</li>
			<li class="navbar">Message</li>
			<li class="navbar">Contacts</li>
			<li class="hide-nav" onclick="hide('navbar')"><</li>
			<script src="JS/display.js"></script>
		</ul>
	</div>
	<div class="barner">
		<div class="show-nav">
			<ul class="bar">
				<li class="h-bar"></li>
				<li class="h-bar"></li>
				<li class="h-bar"></li>
			</ul>
		</div>
	</div>
</body>
</html>