body{
  padding: 0;
  margin:0;
  background:gray;
}
/*barner--------------------------------*/
div.barner{
  position: fixed;
  background: lightgray;
  color:white;
  font-family: sans-serif;
  width:100%;
  top:0;
  height:50px;
  padding:5px;
}
ul.navbar{
  list-style-type: none;
}
ul.navbar li{
  padding: 10px;
  display: inline;
}
li span.tooltip{
  height:200px;
  width:300px;
  background: lightblue;
  color:blue;
  visibility: hidden;
  background-color: whitesmoke;
  position: absolute;
  left: 35px;
  top:100%;
  padding:2px;
  border-radius: 5px;
}
li:hover span.tooltip{
  visibility: visible;
  align-self: center;
}
ul.navbar li:hover{
  color:black;
  background: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 1px;
}
li a{
  color:black;
  text-decoration: none;
}
/*body of webpage----------------------------*/
div.bgslider1{
  background-image: url('../Images/s1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height:75vh;
}
div.bgslider2{
  background-image: url('../Images/s2.jpg');
  background-attachment: fixed;
  background-size: cover;
  height:75vh;
}
div.module{
  background: black;
  color:white;
  opacity: 0.8;
  width:100%;
  padding:10px;
  font-size: 14px;
}

div.module:hover{
  background:black;
  opacity:1.0;
  transition: 2s ease-in-out;
}

div.pText{
  text-align: center;
  height:100px;
  width:75%;
  display: inline;
  margin-left:20px;
  background:black;
  color:white;
  vertical-align:super;
}
div.footer{
  font-family: monospace;
  width: 100%;
  bottom: 0;
  position: fixed;
  background: black;
  color:white;
  font-size: 10px;
}
h4{
  text-decoration: overline;
  font-size: 16px;
  color:green;
}
p{
  font-family:monospace;
  font-style: italic;
}
p.motto{
  font-family:inherit;
  font-size:25;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-delay: 2s;
}
@keyframes colorChange{
  0%{color:green;}
  50%{color:red;font-weight: lighter;}
  100%{color:blue;}
}
ul.fire{
  list-style:none;
}
