body{
  padding: 0;
  margin:0;
  background:gray;
}
/*barner--------------------------------*/
div.barner{
  position: fixed;
  border-bottom: solid red 1px;
  background:rgba(50,50,50,0.9);
  background-image: url("../Images/Animation/code.png");
  background-position: center;
  background-size: cover;
  width:100%;
  top:0;
  height:50px;
  padding:10px;
  overflow: hidden;
  z-index: 1;
  min-width: 600px;
  overflow:hidden;
}
ul.navbar{
  list-style-type: none;
}
ul.navbar li{
  background:rgba(50,50,50,0.7);
  border-top:1px solid red;
  border-bottom: 1px solid red;
  margin-left: 5px;
  padding: 10px;
  color:white;
  display: inline;
}
ul.navbar li:hover{
  color:white;
  background: rgba(255,0,0,0.5);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
a{
  color:red;
  text-decoration: none;
}
a li.active{
  background: rgba(255,0,0,0.5);
}
/*body of webpage----------------------------*/
div.bgslider1{
  background-image: url('../Images/s1.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height:60vh;
}
div.bgslider2{
  background-image: url('../Images/tech.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height:50vh;
}
div.module{
  background:rgba(0,0,0,0.9);
  color:white;
  opacity: 0.9;
  width:100%;
  font-size: 14px;
  z-index: -1;
  padding: 20px;
}
div.module:hover{
  background:black;
  opacity:1.0;
  transition: 0.5s ease-in-out;
  border-bottom: 3px solid red;
}
div.gallery{
  display: flex;
  overflow: hidden;
  float:right;
  padding: 5px;
  height:20vh;
  width:25vw;
  background:rgba(100,0,0,0.5);
  cursor: pointer;
}
div.imageSlide{
  height: 25px;
  width:40px;
}
div.pText{
  height:100px;
  width:50%;
  display: inline;
  margin-left:20px;
  background:none;
  color:white;
}
/*div speech text based inside module for my speech*/
div.speech{
  width:80%;
  min-width: 400px;
  max-width: 100%;
}
/*div paragraph for the text in speech excluding the title*/
div.paragraph{
  padding: 5px;
  border-top: solid 1px red;
}
/*contact module*/
div.contactContainer{
  background-image:url('../Images/engine.jpg');
  background-size:cover;
  background-position: center;
  height:50vh;
  padding:50px;
  flex: auto;
  overflow:hidden;
}
div.contactModule{
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width:50%;
  left:25%;
  padding:20px;
  color:white;
  border:solid red 1px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul.contact{
  list-style: none;
  line-height: 50px;
}
div.footer{
  font-family: monospace;
  width: 100%;
  bottom: 0;
  position: fixed;
  background: black;
  color:white;
  font-size: 10px;
}
h4{
  text-decoration: underline;
  font-size: 20px;
  color:red;
}
p.title{
  font-family: monospace;
  letter-spacing: 5px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 1px solid red;
}
p{
  font-family:sans-serif;
  line-height: 20px;
  font-style: italic;
}
p.motto{
  font-family:inherit;
  font-size:25;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-delay: 2s;
}
@keyframes colorChange{
  0%{color:green;}
  50%{color:red;font-weight: lighter;}
  100%{color:blue;}
}
ul.fire{
  list-style:none;
}
