body{
  background: black;
  padding:0;
  margin: 0;
}
/*--divs and regions --*/
div.navbar{
  visibility: hidden;
  padding:0;
  position: fixed;
  left:0px;
  height:60%;
  width:60%;
  background: lightgray;
  color:black;
}
ul.navlist{
  margin-top: 30px;
}
ul.navlist li{
  display: block;
  text-decoration: none;
  padding:5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
li a{
  text-decoration: none;
  color:black;
}
li a:hover{
  color:white;
}
ul.navlist li:hover{
  background: black;
  color:white;
  transform: 1s ease-in-out;
}
div.navhide{
  position: fixed;
  visibility: visible;
  background:black;
  border-color: green;
  border-width: 3px;
}
div.bgslider{
  background-image: url('../Images/s1_phone.jpeg');
  background-attachment: fixed;
  background-size: cover;
  height:100vh;
}
div.module{
  background: gray;
  width:100%;
  font-family: fantasy;
}
/*---buttons-------*/
button.cancel{
  border:none;
  background:none;
  position: absolute;
  right:0;
  color:black;
  margin-top: 10px;
}
.cancel:hover{
  border-radius:50%;
  color:lightgreen;
  background: black;
  width:25px;
  height: 25px;
  border-style: inherit;
  border-width: 4;
  border-color:green;
  transform:0.4s;
}
button.restoreNav{
  border:none;
  background: none;
}
/*----text-------------*/
p.motto{
  padding: 30px;
  color:white;
  font-family:inherit;
  font-size:25;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-delay: 2s;
}
@keyframes colorChange{
  0%{color:green;}
  50%{color:red;font-weight: lighter;}
  100%{color:blue;}
}
