body{
  padding: 0;
  margin: 0;
}
/*nav bar styling*/
div.navbar{
  position: fixed;
  z-index: 2;
  background: gray;
  width:100%;
  top:0;
  margin-bottom: 50px;
}
div.navbar ul{
  list-style-type: none;
}
div.navbar ul a{
  text-decoration: none;
  color:white;
}
div.navbar ul li{
  display: inline;
  padding: 5px;
  border-right: solid 1px red;
}
div.navbar ul li:hover{
  background-color: black;
  colo
}
li.active{
  padding:7px;
  color:white;
  background: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
}
li.active:hover{
  background: red;
  color:white;
}
/*-----------------------------------------*/
/*tiles styling*/
div.tiles{
  background-image:url("../Images/tech.jpg");
  background-size: cover;
  background-position: center;
  width:100%;
  height:100%;
  padding:10px;
}
div.tile{
  padding: 10px;
  width:95%;
  background:none;
  border: solid lightblue 1px;
  display: flex;
  margin-bottom: 10px;
}
div.tile:hover{
  background-color: lightgray;
  transition: 2s ease-in-out;
}
img.pThumbnail{
  height:100px;
  width:100px;
  margin-right: 30px;
  display: inline-block;
}
div.tile:hover img.pThumbnail{
  border-radius: 50%;
  transition: 2s ease-in-out;
  animation: cuteImage;
  animation-delay: 0s;
  animation-duration: 2s;
}
@keyframes cuteImage {
  20%{transform: rotate(60deg);}
  50%{transform: rotate(-60deg);}
}
div.desc{
  padding: 5px;
  display: inline-block;
  height: 120px;
  width:90%;
  background: whitesmoke;
  color:black;
  overflow-x: scroll;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
